body {
    padding: 0;
    margin: 0;
    font: 300 80% 'Lato', sans-serif;
    color: #1c1d22;
    background-color: #fcfcfc;
}

header {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #dbe3f0;
    height: 230px;
}


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4.2em;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    color: #4f77b5;
}

h2 {
    margin: 0 auto;
    padding: 14px 0;
    width: 600px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 1.9em;
    color: #959eb3;
}

h3 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.2em;
}

a {
    color: #373e49;
    text-decoration: none;
    font-size: 2.6em;
    text-decoration: none;
    outline: 0;
}

a, img {
    -o-transition-property: all;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
}

.wrap {
    width: 960px;
    margin: 40px auto;
    margin-bottom: 20px;
    min-height: 534px;
}

.usage {
    padding: 20px 0;
    padding-bottom: 40px;
    background-color: #EDEAF8;
}

.instructions {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 400;
}

.instructions p {
    font-size: 1.5em;
}

.instructions pre {
    background-color: white;
}

.picbook-example {
    margin: 0 auto;
    width: 760px;
    height: 534px;
}

.picbook-example a {
    position: absolute;
    display: block;
    width: 760px;
    height: 534px;
}

.buttons {
    margin: 0 auto;
    padding-top: 8px;
    width: 348px;
    text-align: center;
}

.buttons:after {
    clear: both;
    content: '';
    display: table;
}

.github, .download-zip, .hover .button {
    width: 100px;
    float: left;
    padding: 14px 32px;
    margin-right: 18px;
    display: block;
    background-color: #7c889b;
    color: #fafafa;
    border-radius: 4px;
    font-size: 1em;
    opacity: .99;
}

.github:hover, .download-zip:hover  {
    background-color: #b2bbc9;
}

.link-example img:hover  {
    opacity: .9;
}

.github {
    margin-right: 0;
}

.twitter {
    display: block;
    color: #7c889b;
    font-size: 1.8em;
    width: 50px;
    margin: 0 auto;
    padding: 20px 0;
}

.twitter:hover {
    color: #b2bbc9;
}

h1, h2, .buttons, .picbook-example {
    opacity: 0;
}